<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reports and Dashboards</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-ZenhVNpHmPQ0oW9RJr+HgiOT##luQ7zCWYEhzIt8YMzD0jPwcEaEry93P/DovIDJM34" crossorigin="anonymous">
</head>
<body>
  <h1>Reports and Dashboards</h1>

  <nav class="nav mt-3">
    <a class="nav-link active" href="/">Home</a>
    <a class="nav-link" href="/dashboard1">Dashboard 1</a>
    <a class="nav-link" href="/dashboard2">Dashboard 2</a>
    </nav>

  <div class="container mt-3">
    
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EQh7TCQv9Bm4GwKMipL1qY89CZA7GbE+w9IrU+vQvTW4vlDTCqenSpQCBoq" crossorigin="anonymous"></script>
</body>
</html>
